@page
@model CabinetStomatologic.Pages.Doctori.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Titulatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].SpecializariDoctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DoctorD.Doctors) {
            string selectedRow = "";
            if (item.ID == Model.DoctorID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Titulatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
                <td>
                    @{
                        foreach (var category in item.SpecializariDoctor)
                        {
                            @category.Specializare.ID @: @category.Specializare.NumeSpecializare <br />
                        }
                    }
                </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
